body
  font-family: sans-serif
  margin: 0
  // Subbtle patterns background
  background: url('images/pow-star.png')
  text-align: center

  .fa
    font-size: 4rem

.hello
  font-weight: bold
  text-transform: uppercase
  font-size: 2.5rem
  color: lightcoral
  border: 1px solid lightgray
  padding: 20px 40px
  max-width: 30rem
  margin: 1rem auto
